Quetion No-1 : Write a program which accepts month's name as input and display the number of days in the month as output.*italicized text*

In [ ]:
Month=input("Enter Month Name")
if Month=="January" or Month=="March" or Month=="May" or Month=="July" or Month=="August" or Month=="October" or Month=="December":
    print("31 Days")
elif Month=="April" or Month=="June" or Month=="September" or Month=="November":
    print("30 Days")
elif Month=="February":
    print("28/29 Days")
else:
    print("wrong Month name")

Enter Month NameFebruary
28/29 Days

Quetion on Loops No-2 : Take any word as input from the user and count the number of vowels in the word.

In [ ]:
word=input("Enter any word")
count=0
for i in word:
    if i=="a" or i=="e" or i=="i" or i=="o" or i=="u":
        count=count+1
print(count)

Enter any wordTopMentor
3

Quetion No-3: Write a program to separate even and odd numbers in two distinct lists from a list of numbers of your choice

In [ ]:
my_list=[34,78,44,23,11,12,93]
even_list=[]
odd_list=[]
for i in my_list:
    if i%2==0:
        even_list.append(i)
    else:
        odd_list.append(i)
        print(even_list)
        print(odd_list)

[34, 78, 44]
[23]
[34, 78, 44]
[23, 11]
[34, 78, 44, 12]
[23, 11, 93]

Quetion No-4 : Write a program that appends datatype of elements from a list to a separate list

In [ ]:
my_list=['India','USA',35,-4.55]
new_list=[]
for i in my_list:
    new_list.append(type(i))
print(new_list)

[<class 'str'>, <class 'str'>, <class 'int'>, <class 'float'>]

Quetion No-5 : Write a program to display only those numbers from a list that satisfies the following conditions:
        1. The number must be divisible by 7,
        2. If the number is greater than 140 then skip it and move to the next number in the list,
        3. If the number in the list is greater than 630 then stop the loop.

In [ ]:
numbers = [17, 70, 140, 210, 145, 525, 700]
for i in numbers:
    if i>630:
        break
    elif i==140:
       continue
    elif i%7==0:
       break
    print(i)

17